<% content_for :body_class, 'bg-dark' %>

<section class="section product-show">
  <div class="columns">
    <div class="column is-8">
      <h1 class="title is-2"><%= @product.title %></h1>

      <ul class="pv1">
        <% if @product.brand? %>
        <li class="inline-block pr3"><%= @product.brand %></li>
        <% end %>

        <% if @product.condition? %>
        <li class="inline-block pr3"><%= @product.condition %></li>
        <% end %>
      </ul>

      <div class="feature-image">
        <%= image_tag(@product.image_url(:default)) %>
      </div>

      <div class="content pa4 mt3 bg-dark border-radius-3">

      <h3 class="subtitle is-4">Description</h3>
      <%= @product.description %>


      <h3 class="subtitle is-4 pt5">Product Specs</h3>

      <table class="table is-narrow">
        <% if @product.condition %>
        <tr>
          <td class="has-text-weight-bold">Condition:</td>
          <td><%= @product.condition %></td>
        </tr>
        <% end %>

        <% if @product.finish %>
          <tr>
            <td class="has-text-weight-bold">Finish:</td>
            <td><%= @product.finish %></td>
          </tr>
        <% end %>

        <% if @product.brand %>
          <tr>
            <td class="has-text-weight-bold">Brand:</td>
            <td><%= @product.brand %></td>
          </tr>
        <% end %>

      </table>
    </div>
    </div>

  </div>

  <% if product_author(@product) %>
    <%= link_to 'Edit', edit_product_path(@product), class: 'button' %>
  <% end %>
</section>
